body{
            background-color: #2498db;
            color:rgb(30, 0, 255);
            font-family: Arial, sans-serif;
            margin: 10px;
            padding: 0px;
        }
        h1{
            color: rgb(0, 62, 98);
        }
        h2{
            color:rgb(0, 0, 0);
        }
        .logout-button{
            position: absolute;
            top: 20px;
            right: 20px;
            padding: 10px 20px;
            background-color:rgb(121, 131, 192);
            color:white;
            border: none;
            cursor: pointer;
            font-size: 20px;
            border-radius: 5px;
        }
        .logout-button:hover{
            background-color:rgb(99, 192, 255);
            color: white;
        }
        header {
            padding: 1px 0;
        }

        nav ul {
            list-style: none;
            padding: 0;
            text-align: center;
        }

            nav ul li {
                display: inline;
                margin: 0 15px;
            }

                nav ul li a {
                    text-decoration: none;
                    color: white;
                    font-size: 20px;
                    padding: 10px;
                }

                    nav ul li a.active {
                        font-weight: bold;
                        color:rgb(10, 31, 163);
                        text-decoration: underline;
                    }